html,
body {
  background-color: #ccc;
}

.container {
  width: 200px;
  height: 360px;
  margin: 30px auto;
  position: relative;
}

.header {
  position: absolute;
  width: 20px;
  height: 8px;
  left: 50%;
  top: 0;
  transform: translate(-50%, -8px);
  background-color: #fefefe;
  border-radius: 4px 4px 0 0;
}

.battery {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fefefe;
  border-radius: 10px 10px 5px 5px;
  overflow: hidden;
  &::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(
      to bottom,
      #00b4db 0%,
      #0083b0 40%,
      #03a9e0 100%
    );
    filter: hue-rotate(90deg);
    animation: charging 10s linear infinite;
  }
}

.wave {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  overflow: hidden;
  border-radius: 10px 10px 5px 5px;
  .circle {
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 300%;
    height: 0;
    padding-top: 300%;
    border-radius: 45% 47% 44% 42%;
    animation: rotate 10s linear infinite;
    background-color: rgba(#fff, 0.8);
    &:nth-child(2) {
      border-radius: 38% 46% 43% 47%;
    }
    &:nth-child(3) {
      border-radius: 42% 46% 37% 40%;
    }
  }
}

@keyframes charging {
  100% {
    top: 0;
    filter: hue-rotate(0);
  }
}

@keyframes rotate {
  100% {
    bottom: 90%;
    transform: translateX(-50%) rotate(720deg);
  }
}
